<section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <!-- <div class="section-title">
          <h2>نمونه کار</h2>
        </div> -->

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">همه</li>
              <li data-filter=".filter-app">اپ</li>
              <li data-filter=".filter-web">وب</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container mt-5">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../../../../assets/images/lottory.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>سامانه درخواست تسهیلات</h4>
                <p>آموزش و پرورش ناحیه 1</p>
              </div>
              <div class="portfolio-links">
                <a href="../../../../assets/images/lottory.png" data-gall="portfolioGallery" class="venobox" title="بزرگ نمایی"><i class="fa fa-eye"></i></a>
                <a href="portfolio-details.html" title="جزییات بیشتر"><i class="fa fa-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../../../../assets/images/lottory.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>سامانه درخواست تسهیلات</h4>
                <p>آموزش و پرورش ناحیه 1</p>
              </div>
              <div class="portfolio-links">
                <a href="../../../../assets/images/lottory.png" data-gall="portfolioGallery" class="venobox" title="بزرگ نمایی"><i class="fa fa-eye"></i></a>
                <a href="portfolio-details.html" title="جزییات بیشتر"><i class="fa fa-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../../../../assets/images/lottory.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>سامانه درخواست تسهیلات</h4>
                <p>آموزش و پرورش ناحیه 1</p>
              </div>
              <div class="portfolio-links">
                <a href="../../../../assets/images/lottory.png" data-gall="portfolioGallery" class="venobox" title="بزرگ نمایی"><i class="fa fa-eye"></i></a>
                <a href="portfolio-details.html" title="جزییات بیشتر"><i class="fa fa-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>