 <section id="team" class="team">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>تیم کاری</h2>
    </div>

    <div class="row mt-5" data-aos="fade-left">

      <div class="col-lg-3 col-md-6">
        <div class="member" data-aos="zoom-in" data-aos-delay="100">
          <div class="pic"><img src="../../../../assets/images/user.png" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>الهام گودرزی</h4>
            <span>Chief Executive Officer</span>
            <div class="social">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
        <div class="member" data-aos="zoom-in" data-aos-delay="200">
          <div class="pic"><img src="../../../../assets/images/user.png" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>رسول صیدی</h4>
            <span>Frontend Developer</span>
            <div class="social">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="member" data-aos="zoom-in" data-aos-delay="300">
          <div class="pic"><img src="../../../../assets/images/user.png" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>مهناز زین الدینی</h4>
            <span>Web Developer</span>
            <div class="social">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="member" data-aos="zoom-in" data-aos-delay="400">
          <div class="pic"><img src="../../../../assets/images/user.png" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>بهاره  جوادی</h4>
            <span>Visual Designer</span>
            <div class="social">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>